<header>
  <div id="headercontainer">
    <div id="logoandtitle">
      <img id="logo" src="/bilder/logo-ts-projekt.svg" alt="" />
      <h1>
        Sundsvalls<br />
        Universitet
      </h1>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/" class="textandiconeven"><img src="/ikoner/home.svg" alt="" />Hem</a>
        </li>
        <li>
          <a routerLink="/courses" class="textandiconeven"
            ><img src="/ikoner/list.svg" alt="" />Kurser</a
          >
        </li>
        <li>
          <a routerLink="/schedule" class="textandiconeven"
            ><img src="/ikoner/schedule.svg" alt="" />Mitt schema</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
