h2 {
  background-color: #80c8ff;
  padding: 3%;
}
.maincontainer {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  gap: 2%;
}
.maincontainer img {
  border-radius: 10px;
  max-width: 800px;
}
.homepictures {
  width: 100%;
}
#aboutcontainer {
  width: 60%;
  background-color: #153954;
  color: white;
  border-radius: 10px;
}
#aboutcontainer p {
  background-color: #005595;
  border: 5px solid #945900;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
h3 {
  text-align: center;
  padding: 3%;
  font-size: 1.4rem;
}
#linkscontainer {
  width: 60%;
  margin: -5px;
  background-color: #80c8ff;
  border-radius: 10px;
  border: 5px solid #945900;
}
.textandbutton {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
.textandbutton p {
  width: 70%;
}
button {
  border: none;
  width: 20%;
  min-width: 130px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  height: 70px;
  font-size: 1.2rem;
  font-weight: 600;
}
.arrowright {
  transform: translate(0px, 0px);
  transition-duration: 0.7s;
}
button:hover .arrowright {
  transform: translate(0px, -3px);
}
@media (max-width: 1024px) {
  .maincontainer {
    flex-direction: column;
    width: 90%;
  }
  #aboutcontainer {
    width: 100%;
  }
  #linkscontainer {
    width: 100%;
    margin-bottom: 20px;
  }
  #linkscontainer button {
    min-width: 100px;
  }
  button {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  h2 {
    margin-top: 0;
  }
  .textandbutton {
    flex-direction: column;
  }
  .textandbutton p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
