form {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #153954;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 2.8rem;
}
label {
  font-weight: 600;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
input {
  width: 70%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
select {
  width: 70%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: black;
  text-decoration: underline;
}

button {
  border: 3px solid #945900;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: 150px;
  height: 40px;
}

#paginering {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.pagineringbutton {
  height: 40px;
  width: 40px;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}
table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #153954;
  border-collapse: collapse;
  background-color: #80c8ff;
  margin-bottom: 40px;
}
tr {
  border-bottom: 2px solid #153954;
}
td {
  padding: 0.7rem;
}
th {
  padding: 0.7rem;
  text-align: left;
  background-color: #005595;
  color: white;
}
.sortable {
  text-decoration: underline;
}
.sortable:hover {
  cursor: pointer;
}
.numberofresults {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#currentpage {
  text-decoration: underline;
}
